<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SmartTestHub Suite" parallel="false">
    <test name="UI Tests">
        <groups>
            <run>
                <include name="ui"/>
            </run>
        </groups>
        <classes>
            <class name="tests.ui.LoginTests"/>
        </classes>
    </test>
    <test name="API Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>
        <classes>
            <class name="tests.api.BookingApiTests"/>
        </classes>
    </test>
</suite>